/*결과 css */
.content.clothes {
    width: 280px;
}

.clothes-content-explain {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.clothes ul {
    display: inline-block;
    list-style-type: none;
}

.clothes ul li {
    float: left;
    display: inline;
    margin-top: 42px;
}

.clothes ul li:nth-child(3n) {
    margin-right: 0;
}


