@font-face {
    font-family: 'Noto Sans';
    font-weight: 300;
    src: url('font/NotoSans-Light.eot');
    src: url('font/NotoSans-Light.eot?#iefix') format("embedded-opentype"), url('font/NotoSans-Light.woff') format("woff");
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    src: url('font/NotoSans-Regular.eot');
    src: url('font/NotoSans-Regular.eot?#iefix') format("embedded-opentype"), url('font/NotoSans-Regular.woff') format("woff");
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 500;
    src: url('font/NotoSans-Medium.eot');
    src: url('font/NotoSans-Medium.eot?#iefix') format("embedded-opentype"), url('font/NotoSans-Medium.woff') format("woff");
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    src: url('font/NotoSans-Bold.eot');
    src: url('font/NotoSans-Bold.eot?#iefix') format("embedded-opentype"), url('font/NotoSans-Bold.woff') format("woff");
}