body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-text-size-adjust: none;
    font-family: 'NanumSquare', sans-serif;
}

body, button, input, select, table, textarea, pre, hr {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    appearance: none;
    /*-webkit-appearance: none;*/
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    -webkit-text-size-adjust: none;
    outline: none !important;
    color: #000;
    font-family: 'NanumSquare', 'Roboto', sans-serif;
}

body {
    border-top: 5px solid #ac1d4c;
    overflow-x: hidden;
}

.topNav {
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #333333;
}

img.logo {
    height: 26px;
    margin: 0;
    margin-left: 370px;
    margin-right: 675px;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.topNav nav ul {
    height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 750px;
}

.topNav li {
    float: left;
    margin-right: 50px;
    font-weight: 400;
}

.topNav a.selected {
    color: #ac1d4c;
    font-weight: 900;
}

.topNav a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

.banner {
    color: white;
    min-width: 980px;
    height: 500px;
    background-image: url('../img/mid/main_img_01.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.banner-text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 215px;
    left: -200px;
    width: 600px;
}

.banner .catch {
    height: 36px;
    font-size: 50px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner .description {
    margin-top: 20px;
    font-size: 14px;
    height: 14px;
    font-weight: normal;
}

.contents {
}

.step {
    margin: 0 auto;
    padding-top: 171px;
    box-sizing: border-box;
}

.title-box {
    text-align: center;
}

.title-box .title {
    font-size: 21.4px;
    line-height: 1.17;
    color: #333333;
    margin-bottom: 20px;
}

.title-box .description {
    top: 20px;
    font-weight: normal;
    font-size: 35.2px;
}

.title-box .sub-desc {
    margin-top: 14px;
    font-size: 16.1px;
    color: #333333;
}

.selectors {
}

.step-box {
    margin: 79px auto 32px;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 620px;
    height: 240px;
}

.selector {
    position: relative;
    top: 56px;
    margin-top: 24px;
    padding-left: 122px;
    font-size: 16.2px;
    font-weight: bold;
}

.selector:last-child {
    margin-bottom: 0;
}

.selector .label {
    width: 70px;
    display: inline-block;
    text-align: left;
}

.selector .options {
    display: inline-block;
    margin-left: 35px;
}

.selector .options ul {
    list-style-type: none;
    color: gray;
}

.selector .options ul li {
    display: inline;
    margin-right: 68px;
    opacity: 0.25;
}

.selector .options ul li.active {
    display: inline;
    color: #ae003c;
    opacity: 1.0;
}

.selector.height .point {
    font-size: 16px;
    color: #666666;
}

.selector.height input {
    width: 254px;
    height: 47px;
    background-color: #ffffff;
    border: solid 2px #dcdcdc;
    color: #999999;
    padding: 0 17px;
}

.selector.height .sub-desc {
    position: relative;
    left: 108px;
    font-size: 12px;
    color: #999999;
}

.step-buttons {
    text-align: center;
}

.underline {
    width: 80%;
    margin-top: 112px;
    border-bottom: solid 0.5px #dcdcdc;
}

.step02 {
    height: 220px;
}

.step02 .selector .label {
    width: 110px;
}

.step-buttons span {
    margin: 0 10px;
}

.footer {
    height: 313px;
    background-color: #515151;
}