body {
    margin: 0;
    padding: 0;
    border-top: 5px solid #ac1d4c;
    font-family: 'NanumSquare', 'Roboto', sans-serif;
    overflow-x: hidden;
}

.topNav {
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #333333;
}

img.logo {
    height: 26px;
    margin: 0;
    margin-left: 370px;
    margin-right: 675px;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.topNav nav ul {
    height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 750px;
}

.topNav li {
    float: left;
    margin-right: 50px;
    font-weight: 400;
}

.topNav a.selected {
    color: #ac1d4c;
    font-weight: 900;
}

.topNav a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

.banner {
    color: white;
    min-width: 980px;
    height: 500px;
    background-image: url('../img/mid/main_img_01.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.banner-text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 215px;
    left: -200px;
    width: 600px;
}

.banner .catch {
    height: 36px;
    font-size: 50px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner .description {
    margin-top: 20px;
    font-size: 14px;
    height: 14px;
    font-weight: normal;
}

.contents {
}

.step {
    margin: 0 auto;
    height: 716px;
}

.title-box {
    position: relative;
    text-align: center;
    top: 171px;
}

.title-box .title {
    font-size: 21.4px;
    line-height: 1.17;
    color: #333333;
}

.title-box .description {
    position: relative;
    top: 20px;
    font-weight: normal;
    font-size: 35.2px;
}

.title-box .sub-desc{
    position: relative;
    top: 13px;
    line-height: 2.75;
    font-size: 16.1px;
    color: #333333;
}

.selectors {
    position: relative;
    top: 320px;
}

.step-box {
    margin: 0 auto;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 620px;
    height: 240px;
}

.selector {
    position: relative;
    top: 57px;
    padding-left: 140px;
    font-size: 16.2px;
    font-weight: normal;
}

.selector:last-child {
    margin-bottom: 0;
}

.selector .label {
    width: 45px;
    text-align: right;
}

.selector .options {
    display: inline-block;
    margin-left: 74px;
}

.selector .options ul {
    list-style-type: none;
    color: gray;
    font-weight: 500;
}

.selector .options ul li {
    display: inline;
    margin-left: 68px;
    opacity: 0.25;
}

.selector .options ul li:first-child {
    margin-left: 0;
}

.selector .options ul li.active {
    display: inline;
    color: #ae003c;
    opacity: 1.0;
}

.selector.height {
    margin-top: 26px;
}