.content.brand {
    width: 279px;
}

.brand-box.brand {
    margin: 43px 0 15px;
    display: inline-block;
}

.brand-box ul {
    list-style-type: none;
}

.brand-box ul li {
    position: relative;
    float: left;
    display: inline;
    margin-bottom: 23px;
}

.brand-box ul li:nth-child(odd) {
    margin-right: 23px;
}

.brand-box ul li div.img-wrapper {
    width: 122px;
    height: 122px;
    border-radius: 17px;
    border: solid 3px #eeeeee;
}

.brand-box ul li div.img-wrapper img {
    width: 88px;
}

.brand-box ul li.active div.img-wrapper {
    background-color: rgba(172, 30, 76, 0.92);
    width: 128px;
    height: 128px;
    border: 0;
    z-index: 1;
}

.brand-box ul li.active div.img-wrapper img {
    opacity: 0.3;
    z-index: 0;
}

.brand-box .brand-explain {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 18px;
    text-align: center;
    z-index: 2;
}

.brand-box .brand-explain span {
    font-weight: 500;
    font-size: 14.8px;
    color: #ffffff;
}