body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-text-size-adjust: none;
    font-family: 'NanumSquare', sans-serif;
}

body, button, input, select, table, textarea, pre {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    appearance: none;
    /*-webkit-appearance: none;*/
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    -webkit-text-size-adjust: none;
    outline: none !important;
    color: #000;
}

/* Header */
.header-box {
    text-align: center;
    font-size: 32px;
    font-family: "HelveticaNeue";
    letter-spacing: 0.1px;
    margin-top: 42px;
    margin-bottom: 38px;
}

.header-title-acent {
    color: #ae003c
}

.content {
    margin: 0 auto;
}

.content.user {
    width: 280px;
}

.content-explain {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: left;
}

.select-box {
    font-size: 24px;
}

.select-box.user {
    margin: 76px 0 91px;
}

.selector {
    margin-bottom: 42px;
}

.selector:last-child {
    margin-bottom: 0;
}

.selector .label {
    width: 45px;
    text-align: right;
}

.selector .options {
    display: inline-block;
    margin-left: 54px;
}

.selector .options ul {
    list-style-type: none;
    color: gray;
    font-weight: 500;
}

.selector .options ul li {
    display: inline;
    margin-left: 22px;
    opacity: 0.25;
}

.selector .options ul li:first-child {
    margin-left: 0;
}

.selector .options ul li.active {
    display: inline;
    color: #ae003c;
    opacity: 1.0;
}

.button {
}

.button.bottom {
    text-align: center;
    margin-bottom: 55px;
}

.button.bottom button {
    color: #949494;
    font-size: 32px;
    font-weight: 100;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.opacity {
    opacity: 0.25;
}

.hide {
    display: none;
}

span.label {
    display: inline-block;
}

span.label-en {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div.img-wrapper {
    width: 140px;
    height: 129px;
}

div.img-wrapper img {
    width: 140px;
}

div.label-wrapper {
    font-size: 14px;
    letter-spacing: 0.1px;
    text-align: center;
}

.fixed-button {
    position: fixed;
    text-align: center;
    bottom: 45px;
    width: 255px;
    height: 67px;
    line-height: 67px;
    border-radius: 33.5px;
    background-color: #ac1e4c;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    left: 0;
    right: 0;
}

.fixed-button span {
    vertical-align: middle;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}