/*결과 css */
.content.recommended {
    width: 307px;
}

.recommended ul {
    display: inline-block;
    list-style-type: none;
    margin: 5px 0 42px;
}

.recommended ul li {
    float: left;
    display: inline;
    margin-top: 46px;
    position: relative;
}

.recommended ul li:first-child {
    margin-top: 0;
}

.recommended ul li div.clothes-summary {
    height: 320px;
}

.recommended ul li div.clothes-summary div.img-wrapper {
    width: 307px;
    height: 308px;
    margin-bottom: -3px;
}

.recommended ul li div.clothes-summary div.img-wrapper img {
    width: 307px;
}