/*결과 css */
.content.result {
    width: 296px;
}

.content-explain.result {
    text-align: center;
}

.oval {
    border-radius: 50%;
}

.result .oval {
    width: 210px;
    height: 210px;
    border: solid 8px #eeeeee;
    box-sizing: border-box;
    margin: 26px auto;
}

.result .oval .label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ac1e4c;
}

.result .oval .label-large {
    margin: 31px auto -8px;
    font-size: 100px;
    width: 88px;
    height: 117px;
    line-height: 117px;
    vertical-align: middle;
}

.result-explain {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.81;
    letter-spacing: 0.1px;
    text-align: center;
}

.result .button {
    margin-top: 27px;
    text-align: center;
}

.result .clear.button button {
    color: #949494;
    font-size: 12px;
    font-weight: 300;
}

.result .bottom.button {
    margin-top: 8px;
}